* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 10%, rgba(220,219,210,1) 10%, rgba(220,219,210,1) 100%);
}

.container-fluid {
    min-height: 100vh;
}

.content-box {
    width: 80%;
    height: 90vh;
    background-color: #e0e0e0;
    display: flex;
}

.contacts {
    width: 40%;
    border-right: 1px solid #B1B1B1;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 60%;
}

.contact-item {
    align-items: flex-start;
}

.contact-item:hover {
    background-color: rgb(221, 220, 220);
    cursor: pointer;
}

.bg-gray {
    background-color: rgb(221, 220, 220);
}

.contacts-body, .messages {
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-icon {
    color: #B1B1B1;
}

.bg-azure {
    background-color: #8EDAFC;
}

.azure {
    color: #8EDAFC;
}

.label-white {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
    color: #999;
}

.messages {
    position: relative;
    display: flex;
    padding: 10px;
    background-image: url(https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
    background-size: cover;
}


.message {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: #fff;
    align-self: flex-start;
    text-align: left;
}
