* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 10%, rgba(220,219,210,1) 10%, rgba(220,219,210,1) 100%);
}

.content-box {
    width: 80%;
    height: 90vh;
    background-color: #f0f0f0;
    display: flex;
}

.contacts {
    width: 40%;
    border-right: 1px solid #B1B1B1;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 60%;
}

.contact-item {
    display: flex;
    align-items: flex-start;
}

.bg-gray {
    background-color: rgb(221, 220, 220);
}

.contacts-body, .messages {
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-icon {
    color: #B1B1B1;
}

.bg-azure {
    background-color: #8EDAFC;
}

.azure {
    color: #8EDAFC;
}

.label-white {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
    color: #999;
}

.messages {
    position: relative;
    display: flex;
    padding: 10px;
    background-image: url(../img/mine.jpg );
    background-size: auto;
}

.message {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: #fff;
    align-self: flex-start;
    text-align: left;
}

.message .message-content {
    position: relative;
    padding-right: 30px; 
}

.pos-caret-down {
    position: absolute;
    top: 0;
    right: 0;
    color: #B1B1B1;
}

.options {
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1010;
}

.mouseon:hover {
    background-color: rgb(221, 220, 220);
    cursor: pointer;
}